<head>
  <meta charset="UTF-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" type="text/css" href="/pricetag.css">
</head>

<body ng-app="myApp" ng-strict-di="">
  <app></app>
</body>