<div class="image-input-container" ng-cloak>
	<img ng-src="{{$ctrl.thumb.url}}" class="adm-image">
	<div>
		<image-upload category="{{$ctrl.category}}" image="$ctrl.image" finished="$ctrl.finishedUpload()"></image-upload>
	</div>
</div>