/*side-nav-toolbar .toolbar-container{
  position: fixed;
  top: 0;
  width: 100%;
}*/

.sidenav-menu .md-button {
  width: 100%;
  padding: 10px 15px;
  margin: 0;
  text-align: left;
}

.sidenav-menu .md-button {
  width: 100%;
  padding: 10px 15px;
  margin: 0;
  text-align: left;
}

.fixed-toolbar {
  position: fixed; 
  width: 100%;  
  /*height: 100%;*/
  z-index: 80;
  overflow: visible !important;
  top: 0px;
}

.fixed-toolbar-front md-sidenav.md-sidenav-left,
.fixed-toolbar-front md-backdrop.md-sidenav-backdrop,
md-backdrop.md-sidenav-backdrop.md-opaque,
md-sidenav.md-sidenav-left {
  height: 100vh;
}