<section flex class="fixed-toolbar">
  
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4" md-is-open="vm.openMenu">

    <md-toolbar class="md-theme-indigo">
      <div class="md-toolbar-tools">
        Menu
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close menu" ng-click="vm.openMenu = false">
          <md-icon md-svg-icon="navigation:ic_close_24px"></md-icon>
        </md-button>
        </div>
    </md-toolbar>

    <md-content class="sidenav-menu" layout="column">
      <!-- <md-button class="md-primary" ui-sref="admin.dashboard" ng-click="vm.openMenu = false">
        <md-icon md-svg-icon="action:ic_dashboard_24px"></md-icon>
        Dashboard
      </md-button> -->
      <md-button class="md-primary" ui-sref="admin.generatePdf" ng-click="vm.openMenu = false">
        <md-icon md-svg-icon="action:ic_view_module_24px"></md-icon>
        Print
      </md-button>
      <!-- <md-button class="md-primary" ui-sref="admin.pictures" ng-click="vm.openMenu = false">
        <md-icon md-svg-icon="action:ic_favorite_24px"></md-icon>
        Pictures
      </md-button> -->
      <md-button class="md-primary" ui-sref="logout" ng-click="vm.openMenu = false">
        <md-icon md-svg-icon="action:ic_exit_to_app_24px"></md-icon>
        Logout
      </md-button>
    </md-content>

  </md-sidenav>

  <md-content flex class="toolbar-container">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Show menu" ng-click="vm.openMenu = true">
          <md-icon md-svg-icon="navigation:ic_menu_24px"></md-icon>
        </md-button>
        <span flex></span>
        <h2><span ng-bind="$root.$state.current.data.pageTitle">Title</span></h2>
        <span flex></span>
        <div class="button-compensation">
          <md-button class="md-icon-button" aria-label="Home">
            <!-- <md-icon md-svg-icon="action:ic_home_24px"></md-icon> -->
          </md-button>
        </div>
      </div>
    </md-toolbar>
  </md-content>

</section>