.sidenav-menu .md-button {
  width: 100%;
  padding: 10px 15px;
  margin: 0;
  text-align: left;
}

.fixed-toolbar-front {
  position: fixed; 
  width: 100%;  
  /*height: 100%;*/
  top: 0;
  z-index: 1000;
  overflow: visible !important;
}

.fixed-toolbar-front md-sidenav.md-sidenav-left,
.fixed-toolbar-front md-backdrop.md-sidenav-backdrop {
  height: 100vh;
}