<section layout-padding class="page-title">
  <h1>About</h1>
</section>

<section layout-padding class="container">
  <h3>What is it</h3>
  <p>The best way to use these icons on the web is with our icon web font. It's lightweight, easy to use, and hosted by Google Web Fonts. Learn how to use font-based icons in our developer guide.</p>
</section>