@font-face {
    font-family: 'Eczar'; /*a name to be used later*/
    src: url('fonts/Eczar.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto'; /*a name to be used later*/
    src: url('fonts/Roboto.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'AbrilFatface'; /*a name to be used later*/
    src: url('fonts/AbrilFatface.ttf'); /*URL to font*/
}


.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}

body #printarea,
body.landscape #printarea {
  color: #000;
  width: 277mm;
  height: 190mm;
}

body.portrait #printarea {
  width: 190mm;
  height: 277mm;
}

.print-pricetag .header-blue {
  background-color: rgb(63, 81, 181);
}

.print-pricetag .header-red {
  background-color: rgb(174,0,13);
}

.print-pricetag .title.header-red-corners,
.print-pricetag .a4-title.header-red-corners {
  background-color: rgb(174,0,13);
  color: rgb(63, 81, 181);
}

.print-pricetag-container {
  float: left;
}

.print-pricetag {
  font-family: 'Eczar'; 
  background-color: #fff;
  display: block;
  float: left;
  position: relative;
  border: 1px solid #bbb;
  margin: 0 1px 1px 0;
}

.a4-title,
.print-pricetag .title {
  font-family: 'Roboto';
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.print-pricetag .title {
  /*position: absolute;*/
  font-size: 8mm;
  line-height: 9.5mm;
  position: relative; 
}

.print-pricetag .a4-name-container,
.print-pricetag .name-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 50%;
}

.print-pricetag .a4-name,
.print-pricetag .name {
  position: absolute;
  text-align: center;
  display: table;
  vertical-align: middle;
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0 none;
}

.print-pricetag .a4-name {
  width: 100%;
  height: 100%;
}

.print-pricetag .label-name {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  border: 0 none;
}

.print-pricetag .a4-price,
.print-pricetag .price {
  font-family: 'AbrilFatface'; 
}

.print-pricetag .price {
  position: absolute;
  bottom: 0mm;
  right: 1mm;
}

.print-pricetag .price .element {
  float: left;
}

.print-pricetag .price .large {
  font-size: 10mm;
  line-height: 12mm;
}

.print-pricetag .element.currency {
  float: none;
}

.print-pricetag .barcode {
  font-family: 'Roboto';
  position: absolute;
  bottom: 0.5mm;
  left: 0.5mm;
}

.print-pricetag .product-info {
  position: absolute;
  bottom: 0mm;
  left: 1mm;
}

.print-pricetag .a4-product-weight,
.print-pricetag .product-weight {
  font-weight: bold;
  color: rgb(174,0,13);
}

.print-pricetag .a4-product-code,
.print-pricetag .product-code {
  display: inline-block;
  background-color: rgb(214,163,61);
}

.page-break {
  width: 100%;
  height: 0.1mm;
  background: #fff;
  /*height: 2mm;
  background: green;*/
  clear: both;
  float: none;
  page-break-before: avoid;
  page-break-inside: avoid;
  page-break-after: always;
  padding: 0 !important;
  margin: 0 !important;
}

span.title-corners {
  height: 10.02mm;
  width: auto;
  margin: 0 1mm;
  display: block;
  background-color: yellow;
  border-top-right-radius: 10mm;
  border-bottom-left-radius: 10mm;
  position: relative;
  z-index: 1;
  /*margin: 0 auto;*/
}


span.title-corners + .title-text{
  position: relative;
  top: -10mm;
  z-index: 40;
}

.only-discount-container,
.a4-only-discount-container {
  width: 100%;
  text-align: center;
  font-family: 'AbrilFatface'; 
  color: rgb(174,0,13);
  font-size: 19mm: 
}


/* LABELS */



/* LABEL A4 */

/* No border */
.print-pricetag.label-a4 {
  border: 0 none;
  position: relative;
  overflow: hidden;
}

.label-a4 .a4-title {
  font-size: 28mm;
  height: 40mm;
}

.label-a4 .a4-title .title-text {
  position: relative;
  top: 5mm;
}

.label-a4.very-wide .a4-title,
.label-a4.wide .a4-title {
  line-height: 30mm;
}

.label-a4.very-wide .a4-title,
.label-a4.wide .a4-title {
  height: 70mm;
}

.label-a4 .a4-name-container {
  height: 9.7cm;
  bottom: 14cm;
}

.label-a4.wide .a4-name-container,
.label-a4.very-wide .a4-name-container {
  bottom: 11.5cm;
}

.label-a4 .a4-name-container.no-header {
  bottom: 17cm;
}

.label-a4 .a4-name {
  font-size: 16mm;
  line-height: 18mm;
  text-align: center;
}

.label-a4 .a4-price {
  text-align: center;
  position: relative;
  top: 11cm;
}

.label-a4.default .a4-price {
  text-align: center;
  position: relative;
  top: 8.5cm;
}

.label-a4.very-wide .a4-price,
.label-a4.wide .a4-price {
  text-align: center;
  position: relative;
  top: 7cm;
}

.label-a4 .a4-price .large {
  font-size: 105mm;
  line-height: 95mm;
  display: inline-block;
}

.label-a4 .a4-price .right-part {
  display: inline-block;
}

.label-a4 .a4-price .small {
  font-size: 45mm;
  line-height: 45mm;
}

.label-a4 .a4-price .currency {
  font-size: 40mm;
  line-height: 40mm;
  position: relative;
  left: -1cm
}

.label-a4 .a4-product-info {
  position: absolute;
  bottom: 10mm;
  left: 10mm;
}

.label-a4 .a4-product-weight {
  font-size: 10mm;
  line-height: 12mm;
}

.label-a4 .a4-product-unit-price {
  font-size: 6mm;
  line-height: 7mm;
}

.label-a4 .a4-product-code {
  font-size: 4mm;
  line-height: 4mm;
  padding: 1mm 1mm 0;
  margin-top: 2mm;
  display: inline-block;
}

.label-a4 span.title-corners {
  height: 40.02mm;
  width: auto;
  margin: 0 3mm;
  display: block;
  background-color: yellow;
  border-top-right-radius: 30mm;
  border-bottom-left-radius: 30mm;
  position: relative;
  z-index: 1;
  /*margin: 0 auto;*/
}

.label-a4 span.title-corners + .title-text {
  position: relative;
  top: -35mm;
  z-index: 40;
}

.label-a4.very-wide .a4-title {
  height: 70mm;
}

.label-a4.very-wide span.title-corners {
  height: 70mm;
}

.label-a4.very-wide span.title-corners + .title-text {
  top: -65mm;
}

.a4-title-spacer {
  height: 1mm !important;
}

.label-a4 .a4-only-discount-container {
  font-size: 82mm;
  padding-top: 70mm;
}

/* Label A4 Choice view fix*/

#pricetag-choice .label-a4 .a4-title {
  font-size: 9mm;
  height: 30mm;
}

#pricetag-choice .label-a4  .a4-title.default {
  height: 15mm;
}

#pricetag-choice .label-a4 .a4-name-container {
  height: 3.3cm;
  bottom: 3cm;
}

#pricetag-choice .label-a4 .a4-name-container.wide {
  bottom: 3cm;
}

#pricetag-choice .label-a4 .a4-name-container.no-header {
  bottom: 5.3cm;
}

#pricetag-choice .label-a4 .a4-name {
  font-size: 6mm;
  line-height: 7mm;
  text-align: center;
}

#pricetag-choice .label-a4 .a4-price {
  text-align: center;
  position: relative;
  top: 4.3cm;
}

#pricetag-choice .label-a4 .a4-price .large {
  font-size: 20mm;
  line-height: 16mm;
  display: inline-block;
}

#pricetag-choice .label-a4 .a4-price .right-part {
  display: inline-block;
}

#pricetag-choice .label-a4 .a4-price .small {
  font-size: 9mm;
  line-height: 9mm;
}

#pricetag-choice .label-a4 .a4-price .currency {
  font-size: 8mm;
  line-height: 8mm;
  position: relative;
  left: -0.3cm
}

#pricetag-choice .label-a4 .a4-product-info {
  position: absolute;
  bottom: 3.3mm;
  left: 3.3mm;
}

#pricetag-choice .label-a4 .a4-product-weight {
  font-size: 3.3mm;
  line-height: 4mm;
}

#pricetag-choice .label-a4 .a4-product-unit-price {
  font-size: 2mm;
  line-height: 2.3mm;
}

#pricetag-choice .label-a4 .a4-product-code {
  font-size: 1mm;
  line-height: 1mm;
  padding: 0mm;
  margin-top: 0mm;
  display: inline-block;
}

#pricetag-choice .label-a4 span.title-corners {
  height: 15.02mm;
  width: auto;
  margin: 0 1mm;
  display: block;
  background-color: yellow;
  border-top-right-radius: 20mm;
  border-bottom-left-radius: 20mm;
  position: relative;
  z-index: 1;
  /*margin: 0 auto;*/
}

#pricetag-choice .label-a4 span.title-corners + .title-text {
  position: relative;
  top: -14mm;
  z-index: 40;
}

#pricetag-choice .label-a4.very-wide .a4-title {
  height: 70mm;
}

#pricetag-choice .label-a4 .a4-title.very-wide span.title-corners {
  height: 30mm;
}

#pricetag-choice .label-a4 .a4-title.very-wide span.title-corners + .title-text {
  top: -27mm;
}

#pricetag-choice .label-a4 .a4-only-discount-container {
  font-size: 25mm;
  padding-top: 20mm;
}


/* LABEL 60-50 */

.label-60-50 {
  width: 60mm;
  height: 50mm;
}

.label-60-50 .title,
.label-60-50 .name .label-name {
  width: 58mm;
  padding: 1mm;
}

.label-60-50 .title {
  height: 7mm;
  background-color: red;
  color: #fff;
  text-transform: uppercase;
}

.label-60-50 .name {
  top: 9mm;
  height: 25mm;
  font-size: 5.5mm;
  line-height: 6.2mm;
  background: #ddd;
}

.label-60-50 .only-discount-container {
  font-size: 20mm;
}



/* LABEL 60-40 */

.label-60-40 {
  width: 60mm;
  height: 40mm;
}

.label-60-40 .name-container {
  bottom: 19.4mm;
  height: 19.5mm;
}

.label-60-40 .title.wide {
  font-size: 7mm;
}

.label-60-40 .title.very-wide {
  font-size: 5.5mm;
}

.label-60-40 .name {
  width: 58mm;
  padding: 0 1mm;
  height: 19.5mm;
  font-size: 4.5mm;
  line-height: 5mm;
}

.label-60-40 .price {
  bottom: 0mm;
  right: 1mm;
}

.label-60-40  .price .large {
  font-size: 22mm;
  line-height: 18mm;
}

.label-60-40  .price .small {
  font-size: 10mm;
  line-height: 10mm;
}

.label-60-40  .price .currency {
  font-size: 8mm;
  line-height: 8mm;
}

.label-60-40 .product-info {
  bottom: 1mm;
  left: 2mm;
}

.label-60-40 .product-weight {
  font-size: 4.5mm;
  line-height: 6mm;
}

.label-60-40 .product-unit-price {
  font-size: 4.5mm;
  line-height: 5mm;
}

.label-60-40 .product-code {
  font-size: 2.5mm;
  line-height: 3mm;
  padding: 0mm 1mm 0;
  margin-top: 0.5mm;
}

.label-60-40 .only-discount-container {
  padding-top: 5mm;
  font-size: 25mm;
}


/* LABEL 70-50 */

.label-70-50 {
  width: 70mm;
  height: 50mm;
}

.label-70-50 .name-container {
  bottom: 24mm;
  height: 25mm;
}

.label-70-50 .title.very-wide{
  font-size: 6.5mm;
}

.label-70-50 .name {
  width: 68mm;
  padding: 1mm 1mm;
  height: 18mm;
  font-size: 5.3mm;
  line-height: 6.3mm;
}

.label-70-50 .price {
  bottom: 1mm;
  right: 1mm;
}

.label-70-50  .price .large {
  font-size: 26mm;
  line-height: 21mm;
}

.label-70-50  .price .small {
  font-size: 12mm;
  line-height: 12mm;
}

.label-70-50  .price .currency {
  font-size: 9.2mm;
  line-height: 9.2mm;
}

.label-70-50 .product-info {
  bottom: 2mm;
  left: 2mm;
}

.label-70-50 .product-weight {
  font-size: 5mm;
  line-height: 6.5mm;
}

.label-70-50 .product-unit-price {
  font-size: 5mm;
  line-height: 6.5mm;
}

.label-70-50 .product-code {
  font-size: 2.7mm;
  line-height: 3.5mm;
  padding: 0.8mm 1mm 0;
  margin-top: 0.5mm;
}

.label-70-50 .only-discount-container {
  padding-top: 10mm;
  font-size: 29mm;
}




/* LABEL 60-25 */

.label-60-25 {
  width: 60mm;
  height: 25mm;
}

.label-60-25 .name-container {
  bottom: 13mm;
  height: 12mm;
}

.label-60-25 .title.wide {
  font-size: 7mm;
}

.label-60-25 .title.very-wide {
  font-size: 5.5mm;
}

.label-60-25 .name {
  width: 59mm;
  padding: 0.5mm 1mm;
  height: 12mm;
  font-size: 3.8mm;
  line-height: 4mm;
}

.label-60-25 .price {
  bottom: 0mm;
  right: 1mm;
}

.label-60-25  .price .large {
  font-size: 15mm;
  line-height: 12mm;
}

.label-60-25  .price .small {
  font-size: 7mm;
  line-height: 7mm;
}

.label-60-25  .price .currency {
  font-size: 6mm;
  line-height: 6mm;
}

.label-60-25 .product-info {
  bottom: 1mm;
  left: 2mm;
}

.label-60-25 .product-weight {
  font-size: 4mm;
  line-height: 5mm;
}

.label-60-25 .product-unit-price {
  font-size: 5mm;
  line-height: 6.5mm;
  display: none;
}

.label-60-25 .product-code {
  font-size: 2.7mm;
  line-height: 3.5mm;
  padding: 0.8mm 1mm 0;
}

.label-60-25 .only-discount-container {
  padding-top: -2mm;
  font-size: 25mm;
}

#pricetag-choice .label-60-25 .only-discount-container {
  margin-top: -3mm;
  font-size: 23mm;
}




/* LABEL 100-60 */

.label-100-60 {
  width: 100mm;
  height: 60mm;
}

.label-100-60 .name-container {
  bottom: 28mm;
  height: 31mm;
}

.label-100-60 .name {
  width: 98mm;
  padding: 0.5mm 1mm;
  height: 12mm;
  font-size: 8mm;
  line-height: 8mm;
}

.label-100-60 .price {
  bottom: 0mm;
  right: 1mm;
}

.label-100-60  .price .large {
  font-size: 36mm;
  line-height: 28mm;
}

.label-100-60  .price .small {
  font-size: 15mm;
  line-height: 15mm;
}

.label-100-60  .price .currency {
  font-size: 14mm;
  line-height: 14mm;
}

.label-100-60 .product-info {
  bottom: 1mm;
  left: 2mm;
}

.label-100-60 .product-weight {
  font-size: 7mm;
  line-height: 8mm;
}

.label-100-60 .product-unit-price {
  font-size: 6mm;
  line-height: 8mm;
}

.label-100-60 .product-code {
  font-size: 2.7mm;
  line-height: 3.5mm;
  padding: 0.8mm 1mm 0;
}

.label-100-60 .only-discount-container {
  padding-top: 7.5mm;
  font-size: 42mm;
}




/* LABEL 150-60 */

.label-150-60 {
  width: 150mm;
  height: 60mm;
}

.label-150-60 .name-container {
  bottom: 30mm;
  height: 30mm;
}

.label-150-60 .name {
  width: 148mm;
  padding: 0.5mm 1mm;
  height: 30mm;
  font-size: 9mm;
  line-height: 10mm;
}

.label-150-60 .price {
  bottom: 1mm;
  right: 1mm;
}

.label-150-60 .price .large {
  font-size: 36mm;
  line-height: 28mm;
}

.label-150-60 .price .small {
  font-size: 15mm;
  line-height: 15mm;
}

.label-150-60 .price .currency {
  font-size: 14mm;
  line-height: 14mm;
}

.label-150-60 .product-info {
  bottom: 1mm;
  left: 2mm;
}

.label-150-60 .product-weight {
  font-size: 7mm;
  line-height: 8mm;
}

.label-150-60 .product-unit-price {
  font-size: 6mm;
  line-height: 8mm;
}

.label-150-60 .product-code {
  font-size: 2.7mm;
  line-height: 3.5mm;
  padding: 0.8mm 1mm 0;
}

.label-150-60 .only-discount-container {
  font-size: 63mm;
  line-height: 60mm
}



/* LABEL MEAT */


.label-meat {
  width: 104mm;
  height: 80mm;
  position: relative;
}

.label-meat .meat-title-content {
  height: 100%;
}

.label-meat .meat-title {
  font-size: 8mm;
  line-height: 19mm;
  font-weight: 400;
}

.label-meat .meat-name-container {
  /* font-size: 9mm;
  line-height: 9mm; */
  font-size: 7mm;
  line-height: 7mm;
  margin-top: 2mm;
  font-weight: 400;
}

.label-meat .meat-title .meat-title-content,
.label-meat .meat-name-container .meat-name {
  padding: 0 5mm;
}

.label-meat .meat-price {
  /* font-size: 18mm;
  line-height: 18mm;
  position: absolute;
  bottom: 15mm;
  width: 100%; */
  font-size: 20mm;
  line-height: 18mm;
  position: absolute;
  bottom: 13mm;
  width: 100%;
}

.label-meat .per-kg {
  font-size: 9mm;
} 

.label-meat .euro {
  font-size: 14mm;
} 


/* LM 104-80 */


.lm-104-80 {
  color: #fff;
  text-align: center
}

.lm-104-80.grey {
  background-color: rgb(60,61,62);
}

.lm-104-80.red {
  background-color: rgb(223,16,33);
}

.lm-104-80.grey .meat-title-content {
  background-color: rgb(223,16,33);
}

.lm-104-80.red .meat-title-content {
  background-color: rgb(0,0,0);
}



