h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
}

.radio-labels img {
  max-width: 100px;
}

.radio-labels md-radio-button {
  display: inline-block;
}

.radio-labels .print-pricetag {
  margin-right: 10px;
  border: 1px solid #ccc;
}

.offer-text {
  position: relative;
  left: 10px;
}

.header-select {
  display: inline-block;
}

.bottom-button {
  margin-top: 20px;
}

.pricetag-info, .pricetag-preview {
  background-color: #f0f0f0;
}

.pricetag-container {
  margin-bottom: 10px;
  font-family: "Pacifico";
}

.preview-container {
  border: 1px solid #ccc;
  background-color: #fff;
}

div.ng-csv-import {
  margin-top: 1em;
}

.csv-preview {
  margin-bottom: 20px;
}

.csv-preview pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px
  font-size: 15px;
  font-family: Courier;
  background: #F0F0F0;
  padding: 10px;
  margin: 0;
  white-space: pre;
}

.csv-preview code {
  display: block;
  overflow-x: auto;
  padding: .5em;
  background: #f0f0f0;
  -webkit-text-size-adjust: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0
}

.table-csv-preview {
  background-color: #ddd;
  margin-top: 30px; 
  margin-bottom: 30px; 
}

table.table-csv-preview {
  font-size: 13px;
  color: #333;
  font-family: monospace;
  text-align: left;
}

table.table-csv-preview th {
  font-weight: bold;
  text-transform: uppercase;
}

table.table-csv-preview td {
  font-weight: normal;
}

table.table-csv-preview th,
table.table-csv-preview td {
  padding: 3px;
  background-color: #fff;
}

table.table-csv-preview md-input-container {
  margin: 0;
}

table.table-csv-preview md-input-container .md-errors-spacer {
  margin: 0;
  height: 0;
  float: none;
}

.option-title {
  display: block;
  font-size: 12px;
  text-align: center;
  padding-top: 5px;
}