<!-- Select price tag -->
<section layout="column" layout-xs="column">
    <h3>{{vm.texts.title[vm.lang]}}</h3>
    
    <div layout="row" layout-xs="column">
      <md-switch ng-model="vm.showPromotions" aria-label="{{vm.texts.specialOffers[vm.lang]}}" 
                  ng-change="onChange(vm.showPromotions); vm.selectedLabelHeader.onlyDiscountAmount = false">
        {{vm.texts.specialOffers[vm.lang]}}
      </md-switch>
    </div>

    <!-- Label header -->
    <section layout="row" ng-if="vm.showPromotions">

      <md-input-container>
        <label>{{vm.texts.specialOfferHeader[vm.lang]}}</label>
        <md-select ng-model="vm.selectedLabelHeader" class="header-select" ng-change="vm.reset()">
          <md-option ng-repeat="header in vm.labelHeaders" ng-value="header">
            {{ header.labelTitle }}
          </md-option>
        </md-select>
      </md-input-container>

      <md-input-container ng-if="vm.selectedLabelHeader.discountOptions">
        <label>Discount amount</label>
        <!-- <md-select ng-model="vm.selectedLabelHeader.discountValue" class="header-select" ng-change="vm.reset()">
          <md-option ng-repeat="value in vm.selectedLabelHeader.discountOptions" ng-value="value">
            -{{value}}%
          </md-option>
        </md-select> -->
        <input ng-model="vm.selectedLabelHeader.discountValue" ng-change="vm.reset()">
      </md-input-container>

      <md-switch ng-model="vm.selectedLabelHeader.activateWas" aria-label="{{vm.texts.activateWas[vm.lang]}}" 
                  ng-change="onChange(vm.selectedLabelHeader.activateWas); vm.activateWas(); vm.reset();"
        ng-if="vm.selectedLabelHeader.discountValue" ng-disabled="!vm.selectedLabel.headerHeight">
        {{vm.texts.activateWas[vm.lang]}}
        <!-- <span ng-if="!vm.selectedLabel.headerHeight">{{vm.texts.onlyDiscountAmountInfo[vm.lang]}}</span> -->
      </md-switch>

      <md-switch ng-model="vm.selectedLabelHeader.onlyDiscountAmount" aria-label="{{vm.texts.onlyDiscountAmount[vm.lang]}}" 
                  ng-change="onChange(vm.selectedLabelHeader.onlyDiscountAmount); vm.onlyDiscountsProcess(); vm.reset();" ng-if="vm.selectedLabelHeader.discountValue" ng-disabled="!vm.selectedLabel.headerHeight">
        {{vm.texts.onlyDiscountAmount[vm.lang]}}
        <span ng-if="!vm.selectedLabel.headerHeight">{{vm.texts.onlyDiscountAmountInfo[vm.lang]}}</span>
      </md-switch>

    </section>

    <div id="pricetag-choice" layout-gt-sm="row" layout-padding>
      <md-radio-group ng-model="vm.selectedLabel" class="radio-labels" ng-change="vm.reset()">  
        <md-radio-button ng-repeat="label in vm.labels" ng-value="label"
          ng-if="((label.headerHeight == 0 && !vm.showPromotions) || (label.headerHeight > 0 && vm.showPromotions))">

          <!-- Pricetag regular preview -->


          <div class="print-pricetag" ng-class="[label.class]"
            ng-style="{'height':(label.height+label.headerHeight)+'mm','width':label.width+'mm'}"
            ng-if="(label.class != 'label-a4')">

            <div class="title" ng-if="label.headerHeight"
                  ng-style="{'height':label.headerHeight+'mm','width':label.width+'mm'}"
                  ng-class="[vm.selectedLabelHeader.class, vm.selectedLabelHeader.widthClass]">
              <span class="title-corners" ng-if="vm.selectedLabelHeader.showCorners"></span>
              <span class="title-text">{{vm.selectedLabelHeader.title}}</span>
            </div>

            <div class="name-container" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">
              <div class="name">
                <span class="label-name">{{vm.sampleProduct.name}}</span>
              </div>
            </div>

            <div class="product-info" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">

              <!-- Product weight -->
              <div class="product-weight" 
                ng-if="(!vm.selectedLabelHeader.discountValue && !label.headerHeight) || (!vm.selectedLabelHeader.discountValue && label.headerHeight) || !label.headerHeight">

                <span ng-if="vm.sampleProduct.grammage < 1">{{vm.sampleProduct.grammage*1000}}</span><span ng-if="vm.sampleProduct.grammage >= 1">{{vm.sampleProduct.grammage/1}}</span>{{vm.sampleProduct.grammage_unit == 'brak' ? 'szt.' : null}}<span ng-if="vm.sampleProduct.grammage < 1 && vm.sampleProduct.grammage_unit == 'kg'">g</span><span ng-if="vm.sampleProduct.grammage >= 1 && vm.sampleProduct.grammage_unit == 'kg'">kg</span><span ng-if="vm.sampleProduct.grammage < 1 && vm.sampleProduct.grammage_unit == 'l'">ml</span><span ng-if="vm.sampleProduct.grammage >= 1 && vm.sampleProduct.grammage_unit == 'l'">l</span>
              </div>

              <!-- Discount: amount -->
              <div class="product-weight" 
                ng-if="(vm.selectedLabelHeader.discountValue && label.headerHeight && !vm.selectedLabelHeader.activateWas)">
                -{{vm.selectedLabelHeader.discountValue}}%
              </div>

              <!-- Was/Before -->
              <div class="product-weight" ng-if="(vm.selectedLabelHeader.discountValue && label.headerHeight 
                    && vm.selectedLabelHeader.activateWas)">
                {{vm.texts.wasBefore[vm.lang]}}
              </div>

              <!-- Product price per unit -->
              <div class="product-unit-price" 
                ng-if="(!vm.selectedLabelHeader.discountValue && !label.headerHeight) || (!vm.selectedLabelHeader.discountValue && label.headerHeight) || !label.headerHeight">
                €{{vm.sampleProduct.price / vm.sampleProduct.grammage | number : 2}}/{{vm.sampleProduct.grammage_unit != 'brak' ? vm.sampleProduct.grammage_unit : 'szt.'}}
              </div>

              <!-- Discount: old price striked -->
              <div class="product-unit-price" 
                ng-if="(vm.selectedLabelHeader.discountValue && label.headerHeight && !vm.selectedLabelHeader.activateWas)">
                <span class="strikethrough">€{{vm.sampleProduct.price}}</span>
              </div>

              <!-- Discount: old price - Was/Before -->
              <div class="product-unit-price" ng-if="(vm.selectedLabelHeader.discountValue && label.headerHeight 
                      && vm.selectedLabelHeader.activateWas)">
                <span>€{{vm.sampleProduct.price}}</span>
              </div>

              <!-- Product code -->
              <div class="product-code">{{vm.sampleProduct.barcode}}</div>
            </div>

            <!-- Product price and Discount -->
            <div class="price" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">
              <div class="element large">
                {{vm.priceValuesWithDiscount(vm.sampleProduct.price)[0]}}
              </div>
              <div class="element small">
                {{vm.priceValuesWithDiscount(vm.sampleProduct.price)[1]}}
              </div>
              <div class="element currency">
                €
              </div>
            </div>

            <!-- Only discount -->
            <div class="only-discount-container" ng-if="vm.selectedLabelHeader.onlyDiscountAmount">
              -{{vm.selectedLabelHeader.discountValue}}%
            </div>

          </div>

          <!-- Pricetag regular preview -->



          <!-- Pricetag A4 preview -->


          <div class="print-pricetag" ng-class="[label.class]"
            ng-style="{'height':(label.height/3)+'mm','width':label.width/3+'mm'}"
            ng-if="label.class == 'label-a4'">

            <div class="a4-title" ng-class="[vm.selectedLabelHeader.class, vm.selectedLabelHeader.widthClass]"
                  ng-if="label.headerHeight">
              <span class="title-corners" ng-if="vm.selectedLabelHeader.showCorners"></span>
              <span class="title-text">{{vm.selectedLabelHeader.title}}</span>
            </div>

            <div class="a4-name-container"
                  ng-class="[vm.selectedLabelHeader.widthClass,{'no-header': !label.headerHeight}]"
                   ng-if="!vm.selectedLabelHeader.onlyDiscountAmount"
                  >
              <div class="a4-name">
                <span class="label-name">{{vm.sampleProduct.name}}</span>
              </div>
            </div>

            <div class="a4-product-info" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">

              <!-- Product weight -->
              <div class="a4-product-weight" 
                ng-if="(!vm.selectedLabelHeader.discountValue && !label.headerHeight) || (!vm.selectedLabelHeader.discountValue && label.headerHeight) || !label.headerHeight">

                <span ng-if="vm.sampleProduct.grammage < 1">{{vm.sampleProduct.grammage*1000}}</span><span ng-if="vm.sampleProduct.grammage >= 1">{{vm.sampleProduct.grammage/1}}</span>{{vm.sampleProduct.grammage_unit == 'brak' ? 'szt.' : null}}<span ng-if="vm.sampleProduct.grammage < 1 && vm.sampleProduct.grammage_unit == 'kg'">g</span><span ng-if="vm.sampleProduct.grammage >= 1 && vm.sampleProduct.grammage_unit == 'kg'">kg</span><span ng-if="vm.sampleProduct.grammage < 1 && vm.sampleProduct.grammage_unit == 'l'">ml</span><span ng-if="vm.sampleProduct.grammage >= 1 && vm.sampleProduct.grammage_unit == 'l'">l</span>
              </div>

              <!-- Discount: amount -->
              <div class="a4-product-weight" 
                ng-if="(vm.selectedLabelHeader.discountValue && label.headerHeight && !vm.selectedLabelHeader.activateWas)">
                -{{vm.selectedLabelHeader.discountValue}}%
              </div>

              <!-- Was/Before -->
              <div class="a4-product-weight" ng-if="(vm.selectedLabelHeader.discountValue && label.headerHeight 
                                  && vm.selectedLabelHeader.activateWas)">
                {{vm.texts.wasBefore[vm.lang]}}
              </div>

              <!-- Price per unit -->
              <div class="a4-product-unit-price" 
                ng-if="(!vm.selectedLabelHeader.discountValue && !label.headerHeight) || (!vm.selectedLabelHeader.discountValue && label.headerHeight) || !label.headerHeight">
                €{{vm.sampleProduct.price / vm.sampleProduct.grammage | number : 2}}/{{vm.sampleProduct.grammage_unit != 'brak' ? vm.sampleProduct.grammage_unit : 'szt.'}}
              </div>

              <!-- Discount: old price strikethrough -->
              <div class="a4-product-unit-price" 
                ng-if="(vm.selectedLabelHeader.discountValue && label.headerHeight && !vm.selectedLabelHeader.activateWas)">
                <span class="strikethrough">€{{vm.sampleProduct.price}}</span>
              </div>

              <!-- Discount: old price - Was/Before -->
              <div class="a4-product-unit-price" ng-if="(vm.selectedLabelHeader.discountValue && label.headerHeight 
                                    && vm.selectedLabelHeader.activateWas)">
                <span>€{{vm.sampleProduct.price}}</span>
              </div>

              <div class="a4-product-code">{{vm.sampleProduct.barcode}}</div>
            </div>
            
            <div class="a4-price" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">
              <div class="element large">
                {{vm.priceValuesWithDiscount(vm.sampleProduct.price)[0]}}
              </div>
              <div class="right-part">
                <div class="element small">
                  {{vm.priceValuesWithDiscount(vm.sampleProduct.price)[1]}}
                </div>
                <div class="element currency">
                  €
                </div>
              </div>
            </div>

            <!-- Only discount -->
            <div class="a4-only-discount-container" ng-if="vm.selectedLabelHeader.onlyDiscountAmount">
              -{{vm.selectedLabelHeader.discountValue}}%
            </div>
          </div>
          <!-- Pricetag A4 preview -->

          <span class="option-title" ng-if="label.class != 'label-a4'">
            {{label.width}}mm × {{label.height}}mm 
            <span ng-if="label.headerHeight">(+{{label.headerHeight}}mm)</span>
          </span>

          <span class="option-title" ng-if="label.class == 'label-a4'">A4</span>
          </span>

        </md-radio-button>


        <!-- MEAT labels -->


        <md-radio-button ng-repeat="label in vm.labelsMeat" ng-value="label">

          <div class="print-pricetag" ng-class="[label.class]" 
                ng-style="{'height':(label.height)+'mm','width':label.width+'mm'}"
              ng-if="(label.class != 'label-a4')">

            <div class="meat-title" ng-style="{'height':label.headerHeight+'mm','width':label.width+'mm'}" 
            ng-class="">
              <div class="meat-title-content" ng-if="vm.showPromotions">
                <span class="title-text">{{vm.selectedLabelHeader.title}}</span>
              </div>
            </div>

            <div class="meat-name-container" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">
              <div class="meat-name">
                <span class="label-name">{{vm.sampleProduct.name}}</span>
              </div>
            </div>

            <div class="meat-price">
              <span class="euro">€</span>{{vm.priceValuesWithDiscount(vm.sampleProduct.price)[0]}},{{vm.priceValuesWithDiscount(vm.sampleProduct.price)[1]}}<span class="per-kg">/kg</span>
            </div>

          </div>

          <span class="option-title" ng-if="label.class != 'label-a4'">
            Meat label {{label.width}}mm × {{label.height}}mm
            <!-- <span ng-if="label.headerHeight">(+{{label.headerHeight}}mm)</span> -->
          </span>

        </md-radio-button>
      </md-radio-group>
    </div>
</section>

<!-- Import CSV -->
<section layout="column" layout-xs="column" class="csv-select" 
          ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">
  <h3>{{vm.texts.loadData[vm.lang]}}</h3>
  <ng-csv-import 
      content="vm.csv.content"
      material
      md-button-class="md-icon-button md-raised md-default"
      md-svg-icon="file:ic_file_upload_24px"
      header="vm.csv.header"
      header-visible="vm.csv.headerVisible"
      separator="vm.csv.separator"
      separator-visible="vm.csv.separatorVisible"
      result="vm.csv.result"
      callback="vm.processResult()"></ng-csv-import>
</section>

<!-- Enter quantity of copies for Only Discount -->
<section ng-if="vm.selectedLabelHeader.onlyDiscountAmount">
  <h3 layout="column">{{vm.texts.onlyDiscountQuantity[vm.lang]}}</h3>
  <div layout="row">
    <md-input-container>
      <input type="number" ng-model="vm.onlyDiscountQuantity" step="1" min="1" max="99" class="input-min-width" ng-change="vm.onlyDiscountsProcess();">
    </md-input-container>
  </div>
</section>

<!-- Extra options -->
<section layout="row" layout-xs="column">
  <md-switch ng-model="vm.showPrintArea" aria-label="Podgląd wydruku" ng-change="onChange(vm.showPrintArea)" ng-if="vm.showDebug">
    Print preview
  </md-switch>
  <md-switch ng-model="vm.showCsvImport" aria-label="Tabela import" ng-change="onChange(vm.showCsvImport)" ng-if="vm.csv.result && !vm.selectedLabelHeader.onlyDiscountAmount">
    Zmień ilości wydruku cenówek
  </md-switch>
</section>

<!-- Import table -->
<table class="table-csv-preview" ng-class="{hide: !vm.showCsvImport}">
  <tr>
    <th ng-repeat="(key, value) in vm.csv.result[0]" ng-if="key != 'quantity'">{{key}}</th>
    <th>Ilość</th>
  </tr>
  <tr ng-repeat="row in vm.csv.result track by $index">
    <td ng-repeat="(key, val) in vm.csv.result[$index]" ng-if="key != 'quantity'">{{val}}</td>
    <td>
      <md-input-container>
        <input type="number" ng-model="vm.csv.result[$index].quantity" step="1" min="1" max="99" ng-change="vm.fileName = null">
      </md-input-container>
    </td>
  </tr>
</table>
<!-- Import table -->

<!-- Actions -->
<section layout="row" layout-xs="column" class="bottom-button">
  <md-button class="md-raised hide" ng-click="vm.add(null)">Dodaj</md-button>

  <processing-button button-name="{{vm.texts.generate[vm.lang]}}"
                    button-on-click="vm.generate()"
                    button-class="md-primary"
                    button-processing="vm.buttonProcessing"
                    button-disabled="(!vm.selectedLabelHeader.onlyDiscountAmount && (!vm.resultProcessed || vm.buttonDisabled)) || (vm.selectedLabelHeader.onlyDiscountAmount && vm.buttonDisabled)"
                    ></processing-button>

  <md-button class="md-raised md-warn" ng-href="{{vm.fileName}}" target="_blank" ng-show="vm.fileName">
    <md-icon md-svg-icon="file:ic_file_download_24px"></md-icon>
    {{vm.texts.download[vm.lang]}}
    </md-button>
</section>

<!-- Print area -->
<section id="printarea" ng-class="{hide: !vm.showPrintArea}">


  <!-- Not A4 - normal label -->


  <div ng-repeat="product in vm.resultProcessed track by $index" 
    ng-if="vm.selectedLabel.class != 'label-a4' && !vm.selectedLabel.isMeatLabel">

    <!-- Pricetag start -->

    <div class="print-pricetag" ng-class="vm.selectedLabel.class"
      ng-style="{'height':(vm.selectedLabel.height+vm.selectedLabel.headerHeight)+'mm','width':vm.selectedLabel.width+'mm'}">
      
      <div class="title" ng-if="vm.selectedLabel.headerHeight"
            ng-style="{'height':vm.selectedLabel.headerHeight+'mm','width':vm.selectedLabel.width+'mm'}"
            ng-class="[vm.selectedLabelHeader.class, vm.selectedLabelHeader.widthClass]">
        <span class="title-corners" ng-if="vm.selectedLabelHeader.showCorners"></span>
        <span class="title-text">{{vm.selectedLabelHeader.title}}</span>
      </div>

      <div class="name-container" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">
        <div class="name">
          <span class="label-name">{{product.name}}</span>
        </div>
      </div>

      <div class="product-info" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">

        <!-- Product weight -->
        <div class="product-weight"
          ng-if="(!vm.selectedLabelHeader.discountValue && !vm.selectedLabel.headerHeight) || (!vm.selectedLabelHeader.discountValue && vm.selectedLabel.headerHeight) || !vm.selectedLabel.headerHeight">

          <span ng-if="product.grammage < 1">{{product.grammage*1000}}</span><span ng-if="product.grammage >= 1">{{product.grammage/1}}</span>{{product.grammage_unit == 'brak' ? 'szt.' : null}}<span ng-if="product.grammage < 1 && product.grammage_unit == 'kg'">g</span><span ng-if="product.grammage >= 1 && product.grammage_unit == 'kg'">kg</span><span ng-if="product.grammage < 1 && product.grammage_unit == 'l'">ml</span><span ng-if="product.grammage >= 1 && product.grammage_unit == 'l'">l</span>
        </div>

        <!-- Discount: amount -->
        <div class="product-weight" 
          ng-if="(vm.selectedLabelHeader.discountValue && vm.selectedLabel.headerHeight && !vm.selectedLabelHeader.activateWas)">
          -{{vm.selectedLabelHeader.discountValue}}%
        </div>

        <!-- Was/Before -->
        <div class="product-weight" 
              ng-if="(vm.selectedLabelHeader.discountValue && vm.selectedLabel.headerHeight && vm.selectedLabelHeader.activateWas)">
          {{vm.texts.wasBefore[vm.lang]}}
        </div>

        <!-- Product price per unit -->
        <div class="product-unit-price" 
          ng-if="(!vm.selectedLabelHeader.discountValue && !vm.selectedLabel.headerHeight) 
                    || (!vm.selectedLabelHeader.discountValue && vm.selectedLabel.headerHeight) || !vm.selectedLabel.headerHeight">

          €{{product.price / product.grammage | number : 2}}/{{product.grammage_unit != 'brak' ? product.grammage_unit : 'szt.'}}
        </div>

        <!-- Discount: old price -->
        <div class="product-unit-price" 
          ng-if="(vm.selectedLabelHeader.discountValue && vm.selectedLabel.headerHeight && !vm.selectedLabelHeader.activateWas)">
          <span class="strikethrough">€{{product.price}}</span>
        </div>

        <!-- Discount: old price - Was/Before -->
        <div class="product-unit-price" 
          ng-if="(vm.selectedLabelHeader.discountValue && vm.selectedLabel.headerHeight && vm.selectedLabelHeader.activateWas)">
          <span>€{{product.price}}</span>
        </div>

        <!-- Product code -->
        <div class="product-code">{{product.barcode}}</div>
      </div>
      
      
      <div class="price" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">
        <div class="element large">
          {{vm.priceValuesWithDiscount(product.price)[0]}}
        </div>
        <div class="element small">
          {{vm.priceValuesWithDiscount(product.price)[1]}}
        </div>
        <div class="element currency">
          €
        </div>
      </div>

      <!-- Only discount -->
      <div class="only-discount-container" ng-if="vm.selectedLabelHeader.onlyDiscountAmount">
        -{{vm.selectedLabelHeader.discountValue}}%
      </div>

    </div>

    <!-- Pricetag end -->

    <!-- Is a multply of pageBreak -> modus = 0 -->
    <div class="page-break" ng-if="!(($index + 1)%(vm.pageBreak))"></div>
  </div><!-- Not A4 - normal label -->


  <!-- A4 -->

  <div ng-repeat="product in vm.resultProcessed track by $index" ng-if="vm.selectedLabel.class == 'label-a4'" class="a4-wrapper">

    <!-- Pricetag start -->

    
    <!-- <div class="print-pricetag" ng-class="[vm.selectedLabel.class, vm.selectedLabelHeader.widthClass]" -->
    <div class="print-pricetag" ng-class="[vm.selectedLabel.class, vm.getHeaderClass()]"
      ng-style="{'height':(vm.selectedLabel.height+vm.selectedLabel.headerHeight)+'mm','width':vm.selectedLabel.width+'mm'}">
      
      <div class="a4-title" ng-class="[vm.selectedLabelHeader.class, vm.selectedLabelHeader.widthClass]"
          ng-if="vm.selectedLabel.headerHeight">
        <span class="title-corners" ng-if="vm.selectedLabelHeader.showCorners"></span>
        <span class="title-text">{{vm.selectedLabelHeader.title}}</span>
      </div>

      <div class="a4-title a4-title-spacer" ng-if="!vm.selectedLabel.headerHeight">
      </div>

      <div class="a4-name-container" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount"
        ng-class="[vm.selectedLabelHeader.widthClass,{'no-header': !vm.selectedLabel.headerHeight}]">
        <div class="a4-name">
          <span class="label-name">{{product.name}}</span>
        </div>
      </div>
      
      <div class="a4-price" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">
        <div class="element large">
          {{vm.priceValuesWithDiscount(product.price)[0]}}
        </div>
        <div class="right-part">
          <div class="element small">
            {{vm.priceValuesWithDiscount(product.price)[1]}}
          </div>
          <div class="element currency">
            €
          </div>
        </div>
      </div>

      <div class="a4-product-info" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">
      
        <!-- Product weight -->
        <div class="a4-product-weight" ng-if="(!vm.selectedLabelHeader.discountValue && !vm.selectedLabel.headerHeight) || (!vm.selectedLabelHeader.discountValue && vm.selectedLabel.headerHeight) || !vm.selectedLabel.headerHeight">
      
          <span ng-if="vm.sampleProduct.grammage < 1">{{product.grammage*1000}}</span>
          <span ng-if="product.grammage >= 1">{{product.grammage/1}}</span>{{product.grammage_unit == 'brak' ? 'szt.' : null}}
          <span ng-if="product.grammage < 1 && product.grammage_unit == 'kg'">g</span>
          <span ng-if="product.grammage >= 1 && product.grammage_unit == 'kg'">kg</span>
          <span ng-if="product.grammage < 1 && product.grammage_unit == 'l'">ml</span>
          <span ng-if="product.grammage >= 1 && product.grammage_unit == 'l'">l</span>
        </div>
      
        <!-- Discount: amount -->
        <div class="a4-product-weight" ng-if="(vm.selectedLabelHeader.discountValue && vm.selectedLabel.headerHeight && !vm.selectedLabelHeader.activateWas)">
          -{{vm.selectedLabelHeader.discountValue}}%
        </div>
      
        <!-- Was/Before -->
        <div class="a4-product-weight" ng-if="(vm.selectedLabelHeader.discountValue && vm.selectedLabel.headerHeight 
                                              && vm.selectedLabelHeader.activateWas)">
          {{vm.texts.wasBefore[vm.lang]}}
        </div>
      
        <!-- Price per unit -->
        <div class="a4-product-unit-price" ng-if="(!vm.selectedLabelHeader.discountValue && !vm.selectedLabel.headerHeight) || (!vm.selectedLabelHeader.discountValue && vm.selectedLabel.headerHeight) || !vm.selectedLabel.headerHeight">
          €{{product.price / product.grammage | number : 2}}/{{product.grammage_unit != 'brak' ? product.grammage_unit
          : 'szt.'}}
        </div>
      
        <!-- Discount: old price strikethrough -->
        <div class="a4-product-unit-price" ng-if="(vm.selectedLabelHeader.discountValue && vm.selectedLabel.headerHeight && !vm.selectedLabelHeader.activateWas)">
          <span class="strikethrough">€{{product.price}}</span>
        </div>
      
        <!-- Discount: old price - Was/Before -->
        <div class="a4-product-unit-price" ng-if="(vm.selectedLabelHeader.discountValue && vm.selectedLabel.headerHeight 
                                                && vm.selectedLabelHeader.activateWas)">
          <span>€{{product.price}}</span>
        </div>
      
        <div class="a4-product-code">{{product.barcode}}</div>
      </div>

      <!-- Only discount -->
      <div class="a4-only-discount-container" ng-if="vm.selectedLabelHeader.onlyDiscountAmount">
        -{{vm.selectedLabelHeader.discountValue}}%
      </div>

    </div>
    <!-- Pricetag end -->

    <!-- Is a multply of pageBreak -> modus = 0 -->
    <div class="page-break" ng-if="!(($index + 1)%(vm.pageBreak))"></div>

  </div><!-- A4 -->


  <!-- Not A4 - meat label -->
  
  
  <div ng-repeat="product in vm.resultProcessed track by $index" 
  ng-if="vm.selectedLabel.isMeatLabel">
  
    <!-- Pricetag start -->
  

    <div class="print-pricetag" ng-class="[vm.selectedLabel.class]" ng-style="{'height':(vm.selectedLabel.height)+'mm','width':vm.selectedLabel.width+'mm'}">
    
      <div class="meat-title" ng-style="{'height':vm.selectedLabel.headerHeight+'mm','width':vm.selectedLabel.width+'mm'}" ng-class="">
        <div class="meat-title-content" ng-if="vm.showPromotions">
          <span class="title-text">{{vm.selectedLabelHeader.title}}</span>
        </div>
      </div>
    
      <div class="meat-name-container" ng-if="!vm.selectedLabelHeader.onlyDiscountAmount">
        <div class="meat-name">
          <span class="label-name">{{product.name}}</span>
        </div>
      </div>
    
      <div class="meat-price">
        <span class="euro">€</span>{{vm.priceValuesWithDiscount(product.price)[0]}},{{vm.priceValuesWithDiscount(product.price)[1]}}<span
          class="per-kg">/kg</span>
      </div>
    
    </div>
  
    <!-- Pricetag end -->
  
    <!-- Is a multply of pageBreak -> modus = 0 -->
    <div class="page-break" ng-if="!(($index + 1)%(vm.pageBreak))"></div>
  </div>
  <!-- Not A4 - meat label -->


</section>