.drop-box {
    display: inline;
}
.upload-button-container {
	min-width: 20px;
	display: inline-block;
	min-height: 13px
}
.upload-button-container md-progress-circular {
	position: relative;
	left: 63px
}



