<span
    class="upload-button-container"
    ngf-select
    ngf-change="$ctrl.addImages($files)"
    ngf-multiple="false"
    ngf-allow-dir="false"
    ngf-accept="'image/*'"
    ngf-drop-available="false">
    <md-progress-circular md-diameter="20" ng-show="$ctrl.buttonDisabled"></md-progress-circular>
    <md-button class="md-raised" ng-disabled="$ctrl.buttonDisabled">
        <md-icon md-svg-icon="file:ic_file_upload_24px"></md-icon>
        {{$ctrl.buttonName}}
    </md-button>
</span>