<md-toolbar>
	<div class="md-toolbar-tools">
		<!-- <md-button class="md-default" aria-label="Back to home" ui-sref="front.home">
        <md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
        Back to home
    </md-button> -->
    <div flex></div>
    <div>Login</div>
    <div flex></div>
	</div>
</md-toolbar>

<md-content layout-padding class="login-form">
  <p class="error-message" ng-if="$ctrl.showError">
  ⚠ {{$ctrl.errorMessage}}
  </p>
	<form name="$ctrl.form">
		<md-input-container class="md-block">
			<label>Username</label>
			<input ng-model="$ctrl.credentials.username" required>
		</md-input-container>

		<md-input-container class="md-block">
			<label>Password</label>
			<input ng-model="$ctrl.credentials.password" required type="password">
		</md-input-container>

		<div layout="row" layout-align="center center">

			<md-button 
        type="submit"
				ng-disabled="$ctrl.form.$invalid"
				class="md-raised md-primary"
				ng-click="$ctrl.login()">
				Login
			</md-button>

		</div>
	</form>
</md-content>