<md-button class="md-raised" 
            ng-disabled="vm.buttonDisabled" 
            ng-click="vm.buttonOnClick({})" 
            ng-class="vm.buttonClass">
    <!-- <md-icon md-svg-icon="file:ic_file_upload_24px"></md-icon> -->
    <md-progress-circular md-diameter="20" ng-show="vm.buttonProcessing" class="button-progress"></md-progress-circular>
    {{vm.buttonName}}
    
</md-button>