home .hero {
  background: url("/img/home.jpg") center center no-repeat;
  background-size: cover; 
  width: 100%;
  height: 100vh;
}

home .hero-header {
  font-weight: 200;
  color: #fff;
  text-align: center;
  padding-top: 25vh;
  font-size: 10vw;
  margin-top: 0;
}