<section class="hero">
  <h1 class="hero-header">Welcome to the Website</h1>
  <div layout="row" class="hero-buttons">
    <span flex></span>
    <md-button class="md-raised" ui-sref="home">Book now</md-button>
    <md-button class="md-raised" ng-href="#about">More info</md-button>
    <span flex></span>
  </div>
</section>

<section id="about" layout-padding class="container">
  <h1>About the Website</h1>
  <md-button class="md-raised" ui-sref="home">Test</md-button>
  <h3>Who is it for?</h3>
  <p>The best way to use these icons on the web is with our icon web font. It's lightweight, easy to use, and hosted by Google Web Fonts. Learn how to use font-based icons in our developer guide.</p>
</section>

<section id="upcoming-events" layout-padding class="container">
  <h1>Upcoming events</h1>
  <p>Bla bla</p>
</section>