<section layout-padding class="page-title">
  <h1>Contact</h1>
</section>

<section layout-padding class="container" layout="column">
  <form name="vm.form" >
    <md-input-container class="md-block">
      <label>Name</label>
      <input ng-model="vm.contact.name" required>
    </md-input-container>
    <md-input-container class="md-block">
      <label>Email</label>
      <input ng-model="vm.contact.email" required>
    </md-input-container>
    <md-input-container class="md-block" required>
      <label>Message</label>
      <textarea ng-model="vm.contact.message" rows="5" required></textarea>
    </md-input-container>

    <div class="text-center">
      <md-button 
        ng-disabled="vm.form.$invalid || vm.form.$pristine || vm.sendButtonInactive"
        class="md-raised md-primary"
        ng-class="{success: vm.formSuccess}"
        ng-click="vm.send()">
        <md-icon md-svg-icon="navigation:ic_check_24px" ng-show="vm.formSuccess"></md-icon>
        {{vm.sendButtonText}}
      </md-button>
    </div>
  </form>
</section>